In [ ]:
##Q1. What is a database? Differentiate between SQL and NoSQL databases. 
A database is a collection of structured data or information. It is also defined as computer based data keeping. 
The different between SQL and NOSQL databases -
-SQL database uses structured data while NoSQL uses unstructured data
- SQL database uses structured query language, while NOSQL uses key-value data, graph, document etc
- SQL database is a relational database while NOSQL database is more flexible than traditional relational database which uses not only sql but graph database, key value databases.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
- DDL stands for data definition language. It is similar to computer programing language which are uses to defining database
schemas. It consists command like CREATE, DROP, ALTER and TRUNCATE.

CREATE - This command is used to create table in database
CREATE TABLE table_name{column1 datatype, column2 datatype, column3 datatype};

ALTER - This command is used to add, delete or make any changes in the columns of existing table in the database
ALTER TABLE table_name 
ADD column4 datatype;

DROP - This command is used to remove an existing table from the database along with its structure.
DROP TABLE table_name;

TRUNCATE - This command is used to remove rows from the table but structure still exists
TRUNCATE TABLE table_name;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
-DML stands for data manipulation language. It consists command like insert, update and delete.

INSERT - This command is used to insert any column or data into the existing table. 
INSERT INTO table_name(column1, column2, column3, column4)
Values(value1, value2, value3, value4)

UPDATE -This command is used to update any column or data of an exisiting table 
UPDATE table_name SET column1 = value1 WHERE condition;

DELETE - This command is used to delete any data or column within the table. 
DELETE from table_name WHERE some_condition;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
-DQL stands for data query language. We can define DQL as follows it is a component of SQL statement that allows getting 
data from the database and imposing order upon it. It uses command like - SELECT

SELECT - This command retrieve all the information from the database.

SELECT * from table_name;
or
SELECT cloumn1, column2 from table_name;

In [ ]:
Q5. Explain Primary Key and Foreign Key.
-Primary key is unique data in the table . It is uniquely defined in the table to identify particular information, whereas 
foreign key is used to link two tables together.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)



Cursor() is a temporary memory .It is used to store database tables.
execute() is used to display data available in database.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.